body {
  background: #efefef;
}
* {
  box-sizing: border-box;
}

.main {
  display: flex;
  height: calc(100% - 70px);
  max-width: 70%;
  margin: auto;
  background: white;
  margin: 10px auto;
  border-radius: 8px;
}
